<footer class="footer" id="page-footer">
    <div class="is-flex is-justify-content-center">
        <div id="page-footer-text">
            <p>Powered by <a href="https://hexo.io/">Hexo</a></p>
            <p>Theme by <a href="https://github.com/Chlamydomonos/hexo-theme-chlamydomonosia">Chlamydomonos</a></p>
        </div>
    </div>
</footer>